@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-white;
}

a {
  @apply text-primary;
}

.container {
  @apply px-3 sm:max-xl:px-5
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-card-bg rounded-full;
}